---
import '@fontsource/roboto';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Rendering -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Karol Binkowski" />

    <!-- OpenGraph -->
    <meta property="og:type" content="product" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content="/" />
    <meta property="og:image" content="/android-chrome-512x512.png" />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:site" content="@GrzywN" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/android-chrome-512x512.png" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden w-full min-h-screen">
    <slot />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  .debug,
  .debug * {
    outline: 1px dashed magenta;
  }

  .my-input {
    @apply px-4 py-3 border border-secondary-200 focus-visible:border-primary-500 outline-none text-primary-500 focus-visible:placeholder:text-primary-500 rounded-[0.625rem] transition-colors;
  }
</style>
